In [1]:
import pandas as pd
import numpy as np

In [2]:
main_df = pd.DataFrame()

ratios = ['BCH-USD', 'BTC-USD', 'ETH-USD', 'LTC-USD']
for ratio in ratios:
    dataset = f'crypto_data/{ratio}.csv'
    df = pd.read_csv(dataset, names=['time', 'low', 'high', 'open', 'close', 'volume'])
    df.rename(columns={'close': f'{ratio}_close', 'volume': f'{ratio}_volume'}, inplace=True)
    df.set_index('time', inplace=True)
    df = df[[f'{ratio}_close', f'{ratio}_volume']]
    
    if len(main_df) == 0:
        main_df = df
    else:
        main_df = main_df.join(df)

In [3]:
main_df.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume
time,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,NaN,NaN,96.580002,9.647200
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978

In [4]:
SEQ_LEN = 60
FUTURE_PERIOD_PREDICT = 3
RATIO_TO_PREDICT = 'LTC-USD'

In [5]:
def classify(current, future):
    if float(future) > float(current):
        return 1
    else:
        return 0

In [6]:
main_df['future'] = main_df[f'{RATIO_TO_PREDICT}_close'].shift(-FUTURE_PERIOD_PREDICT)

In [7]:
main_df.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future
time,,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,NaN,NaN,96.580002,9.647200,96.500000
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024,96.389999
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799,96.519997
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067,96.440002
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978,96.470001

In [8]:
main_df['target'] = list(map(classify, main_df[f'{RATIO_TO_PREDICT}_close'], main_df['future']))

In [9]:
main_df.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future,target
time,,,,,,,,,,
1528968660,871.719971,5.675361,6489.549805,0.587100,NaN,NaN,96.580002,9.647200,96.500000,0
1528968720,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,96.660004,314.387024,96.389999,0
1528968780,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,96.570000,77.129799,96.519997,0
1528968840,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,96.500000,7.216067,96.440002,0
1528968900,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,96.389999,524.539978,96.470001,1

In [10]:
# .values == numpy array

In [11]:
times = sorted(main_df.index.values)

In [12]:
last_5pct = times[-int(0.05 * len(times))]

In [13]:
len(times), last_5pct

(92225, 1534879920)

In [14]:
validation_main_df = main_df[main_df.index >= last_5pct]

In [15]:
validation_main_df.head()

,BCH-USD_close,BCH-USD_volume,BTC-USD_close,BTC-USD_volume,ETH-USD_close,ETH-USD_volume,LTC-USD_close,LTC-USD_volume,future,target
time,,,,,,,,,,
1534879920,531.159973,7.941041,6455.609863,1.004100,277.790009,5.106693,55.500000,32.800781,55.560001,1
1534879980,531.940002,2.622524,6450.089844,20.130001,278.040009,30.603399,55.500000,3.414962,55.549999,1
1534880040,531.059998,0.511448,6450.100098,3.379695,277.679993,10.626181,55.560001,475.728424,55.549999,0
1534880100,531.080017,5.601109,6450.009766,2.321942,277.630005,19.875832,55.560001,15.842497,55.560001,0
1534880160,531.679993,8.893883,6450.009766,0.839376,277.700012,9.210640,55.549999,18.905807,55.560001,1

In [16]:
main_df = main_df[main_df.index < last_5pct]

In [17]:
df=pd.DataFrame({'d':[3,4],'ds':[34,42]})
df.values[0]

array([ 3, 34], dtype=int64)

In [18]:
from sklearn import preprocessing
from collections import deque
import random

def preprocess_df(df):
    df = df.drop(columns=['future'])
    for column in df.columns:
        if column != 'target':
            df[column] = df[column].pct_change()
            df.dropna(inplace=True)
            df[column] = preprocessing.scale(df[column].values)
    df.dropna(inplace=True)
    sequential_data = []
    prev_days = deque(maxlen=SEQ_LEN)
    for i in df.values:
        # i: row of all the columns
        prev_days.append(i[:-1])
        if len(prev_days) == SEQ_LEN:
            sequential_data.append([np.array(prev_days), i[-1]])
    random.shuffle(sequential_data)
    buys = []
    sells = []
    for seq, target in sequential_data:
        if target == 0:
            sells.append([seq, target])
        else:
            buys.append([seq, target])
    lower = min(len(sells), len(buys))
    buys = buys[:lower]
    sells = sells[:lower]
    sequential_data = buys + sells
    random.shuffle(sequential_data)
    X = []
    y = []
    for seq, target in sequential_data:
        X.append(seq)
        y.append(y)
    return np.array(X), np.array(y)

# train_x, train_y = preprocess_df(main_df)
# validation_x, validation_y = preprocess_df(validation_main_df)

train_x, train_y = preprocess_df(main_df.iloc[:15])
validation_x, validation_y = preprocess_df(validation_main_df.iloc[:15])

In [19]:
EPOCHS = 3
BATCH_SIZE = 32

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization # , CuDNNLSTM
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint

In [25]:
model = Sequential()

model.add(LSTM(64, input_shape=(3,3), return_sequences=True))
model.add( Dropout(0.2) )
model.add( BatchNormalization() )

model.add(LSTM(64, input_shape=(3,3), return_sequences=True))
model.add( Dropout(0.1) )
model.add( BatchNormalization() )

model.add(LSTM(64, input_shape=(3,3)))
model.add( Dropout(0.2) )
model.add( BatchNormalization() )

model.add( Dense(32, activation='relu')  )
model.add(Dropout(0.2))

model.add(Dense(2, activation='softmax'))

# opt=tf.keras.optimizers.Adam(lr=0.01, decay=1e-6)
# , optimizer=opt
model.compile(loss='sparse_categorical_crossentropy', metrics=['accuracy'])

tensorboard = TensorBoard(log_dir=f'logs/namestn')
filepath = 'RNN_Final-3-02d'

history = model.fit(train_x, train_y, batch_size=3, epochs=EPOCHS, validation_data=(validation_x, validation_y), callbacks=[tensorboard])

Epoch 1/3

ValueError: Exception encountered when calling Sequential.call().

Invalid input shape for input Tensor("data:0", shape=(3,), dtype=float32). Expected shape (None, 3, 3), but input has incompatible shape (3,)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(3,), dtype=float32)
  • training=True
  • mask=None